$colour-primary: #51247a;
$colour-admin: #1c1e26;

$theme-gradient: linear-gradient(
	90deg,
	rgba(252, 124, 137, 1) 0%,
	rgba(255, 164, 146, 1) 50%,
	rgba(250, 183, 149, 1) 100%
);

$theme-gradient-slant: linear-gradient(
	135deg,
	rgba(252, 124, 137, 1) 0%,
	rgba(255, 164, 146, 1) 50%,
	rgba(250, 183, 149, 1) 100%
);

$theme-dark: #1c1e26;
$theme-dark-purple: #003049;
$theme-purple: #9648c0;
$theme-red: #e95678;
$theme-rose: #fc7c89;
$theme-peach: #ffa492;
$theme-orange: #fab795;
$theme-yellow: #fcbf49;
$theme-blue: #25b0bc;

// 003049

$light-purple: #962abb;
$red: #e62645;
$green: #2ea836;
$gold: #bb9d65;
$orange: #eb602b;
$yellow: #fbb800;
$blue: #4085c6;
$aqua: #00a2c7;
$dark-grey: #999490;
$neutral: #d7d1cc;

$colour-primary-gradient: linear-gradient(
	171deg,
	rgba(81, 36, 122, 1) 0%,
	rgba(150, 42, 187, 1) 100%
);
$warning-gradient: linear-gradient(
	90deg,
	rgba(255, 37, 89, 1) 0%,
	rgba(255, 63, 51, 1) 61%,
	rgba(255, 85, 49, 1) 100%
);

$grey-10: rgb(34, 34, 34); // #222222
$grey-8: rgb(71, 71, 71); // #474747
$grey-6: rgb(111, 111, 111); // #6f6f6f
$grey-4: rgb(152, 152, 152); // #989898
$grey-2: rgb(197, 197, 197); // #c5c5c5
$grey-1: rgb(221, 221, 221); // #dddddd
$grey-0: rgb(244, 244, 244); // #f4f4f4
