.page {
	height: calc(100vh - 5rem);
	width: 100%;

	.content {
		display: flex;
		height: 100%;
		position: relative;
		overflow: hidden;

		.navigation {
			height: 100%;
			background: $grey-0;
			z-index: 5;
		}

		.body {
			padding: 4rem;
			width: 100%;
			overflow: auto;
		}
	}
}

.MuiButton-textPrimary {
	color: white !important;
}

.page-title {
	.title {
		position: relative;
		text-align: center;
		font-size: 2rem;
		color: $theme-peach;
		font-weight: 500;
	}

	.title-underline {
		margin: auto;
		width: 100%;
		max-width: 12rem;
		height: 0.25rem;
		background: $theme-peach;
		margin-bottom: 5rem;
	}

	.grow-appear {
		width: 0%;
	}

	.grow-appear-active {
		transition: all 1.5s ease-in-out;
		width: 100%;
	}
}
