.page-spinner {
	display: flex;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.table-spinner {
	display: flex;
	margin: auto;
	width: 100%;
	height: 10rem;
}

.css-0 {
	margin: auto;
	.css-1ij9ic0,
	.css-1j1i60w {
		background: $theme-rose;
	}

	.css-xwr8a4,
	.css-wbrves {
		background: $theme-peach;
	}

	.css-m586eu,
	.css-1ctme5z {
		background: $theme-orange;
	}
}
